# airflow
.user.yml
profiles.yml
bqt_profiles.yml
config/
plugins/

# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# dbt files
target/
dbt_packages/
logs/
dbt_internal_packages/
logs/
analyses/
macros/
seeds/
snapshots/
tests/

__pycache__/

# A safety net for any secret files
*.json
*.envcd
.env

